html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.primary-btn.enabled {
  background: #3d3dff;
  cursor: pointer;
}

.primary-btn {
  width: 20rem;
  margin: auto;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 1.5rem;
  letter-spacing: 0.1rem;
  background: #9595ff;
  color: #fff;
  text-align: center;
}
.primary-btn span {
  font-size: 3rem;
  pointer-events: none;
  text-shadow: 1px 1px 3px #000;
}

.secondary-btn.active {
  background: #818181;
  cursor: auto;
}

.secondary-btn {
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  background: #c9c9c9;
  cursor: pointer;
}
.secondary-btn span {
  pointer-events: none;
  display: inline-block;
  letter-spacing: 0.1rem;
  color: #fff;
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px #000;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(#ff899d, pink);
}
.main__app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  height: 80vh;
  width: 100%;
  max-width: 100rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px gray;
}
.main__app__message {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 0.2rem;
}
.main__app__categories {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main__app__question {
  flex: 1;
  font-size: 3.5rem;
  text-align: center;
}
.main__app__answers {
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}